* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #272727 !important;
}

/*Navbar elements start*/
.active {
  background-color:rgba(200, 0, 0, 0.6)
}

nav ul li a {
  display: block;
  color: white;
  padding: 0.8rem;
  margin: 0 0.3rem;
  border-radius: 1rem;
}
/*Navbar elements stop*/

/* Head elements start */
.headPosition {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10px;
  padding: 50;
}

.headLogo {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 0 auto; /* Zentriert das Logo horizontal */
}

.headLine {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  top: 20px;
}
/* Head elements stop*/

.container {
  position: relative;
  text-align: center;
  top: 150px;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
}

button {
  font-weight: 600;
  width: 150px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(200, 0, 0, 0.4);
  transition: 0.5s;
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(200, 0, 0, 0.6);
  background-color: rgba(200, 0, 0, 0.6);
}

.Button {
  color: rgb(200, 0, 0);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(150, 0, 0, 1);
  border-radius: 2rem;
}

/*Das Aussehen für Login*/

.wrapper{
  width: 420px;
  height: 450px;
  border: 2px solid rgba(200, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(200, 0, 0, 0.6);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(200, 0, 0, 0.6);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(51, 51, 51); 
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box .icon{
  position:absolute;
  left: auto;
  transform: translateX(-170%);
  top: 27%;


}

.input-box .icon2{
  position:absolute;
  left: auto;
  transform: translateX(-170%);
  top: 45%;


}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;

}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/

}

.wrapper .register-link {
  font-size: 14.5px;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/*Das Aussehen für Popup*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup.show {
    display: flex;
}

.popup-inner {
    background: #272727;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.popup-inner form {
    display: flex;
    flex-direction: column;
    
}
.popup-inner .input-container {
  display: flex;
  flex-direction: column;
  align-items: self-end;
}

.popup-inner label {
    margin-bottom: 10px;
    color: #fff;
}

.popup-inner input {
    margin-top: 5px;
    margin-bottom:20px;
    margin-left: 12%;
    margin-right: 12%;
    padding: 8px;
    font-size: 16px;
    border-radius: 40px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    border: none;
    outline: none;
    border: 2px solid rgba(200, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(200, 0, 0, 0.6);
    padding: 8px 30px 8px 15px;
  
}

.popup-inner h2 {
  color: #fff;
}

.popup-inner div {
  display: flex;
  justify-content: space-between;
}

/*Das Aussehen für Trainigsplan*/

.Trainnigsplan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.Plan-Wrapper {
  background-color: rgb(51, 51, 51);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(200, 0, 0, 0.4);
  padding: 20px;
  margin:  20px;
  width: 300px;
}


.Plan h3 {
  margin-top: 0;
}

.Plan {
  margin-bottom: 20px;
}

.Plan ul {
  list-style-type: none;
  padding: 0;
}

.Plan li {
  background-color: rgba(134, 0, 0, 0.6);
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px;
}