* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #272727 !important;
}

/*Navbar elements start*/
.active {
  background-color:rgba(200, 0, 0, 0.6)
}

nav ul li a {
  display: block;
  color: white;
  padding: 0.8rem;
  margin: 0 0.3rem;
  border-radius: 1rem;
}
/*Navbar elements stop*/

/* Head elements start */
.headPosition {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10px;
  padding: 50;
}

.headLogo {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 0 auto; /* Zentriert das Logo horizontal */
}

.headLine {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  top: 20px;
}
/* Head elements stop*/

.container {
  position: relative;
  text-align: center;
  top: 150px;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(200, 0, 0, 0.2);
  transition: 0.4s;
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  background-color: rgba(150, 0, 0, 1);
}

.Button {
  color: rgb(200, 0, 0);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(150, 0, 0, 1);
}