* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

.header {
  background-color: #00000000; /* Hintergrundfarbe des Headers */
  padding: 200px 0; /* Platzierung des Logos im Header */
}

.headerlogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 1;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Zentriert das Logo horizontal */
}

.background-container {
  position: relative;
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center; /* Zentriert vertikal */
  height: 100vh; /* 100% der Bildschirmhöhe */
  background-image: url('./img/background.jpg'); /* Pfad zum Hintergrundbild */
  background-size: cover; /* Skaliert das Bild, um den gesamten Container zu bedecken */
  background-position: center; /* Zentriert das Bild horizontal */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
}

.background-container::before {
  content: ''; /* Pseudo-Element-Inhalt */
  position: absolute; /* Positionierung des Pseudo-Elements */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparentes Overlay (schwarz mit 50% Transparenz) */
}